.page-enter-active,
.page-leave-active {
    transition: all $transition-duration-slow;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(r(2px));
}

@keyframes wave {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(15deg)
    }

    50% {
        transform: rotate(-15deg)
    }

    75% {
        transform: rotate(15deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}
