@use 'sass:map';

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin breakpoint($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

        // If the key doesn't exist in the map
    @else {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin size($size) {
    block-size: $size;
    inline-size: $size;
}

@mixin page-gutter() {
    @each $bp in map-keys($page-gutters) {
        $gutter: map.get($page-gutters, $bp);

        @include breakpoint($bp) {
            padding-inline: $gutter;
        }
    }
}

@mixin has-hover {
    @media (hover: hover) and (pointer: fine) {
        &:not([disabled]):hover {
            @content;
        }
    }
}
